*{
    border: 0;
    margin: 0;
    padding: 0;
}

.serviceContainer{
    padding-top: 100px;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 80%;
    margin: 15px;
}

.card img{
    width: 90%;
    margin-left: 5%;
}

.card .title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.card p{
    text-align: center;
}

.slider{
    height: 240px;
}

.slider img{
    margin-left: 5%;
    margin-right: auto;
    width: 400px;
    height: 70%;
}