<div class="content">
    
    <h1>La empresa</h1>
    <div class="horizontalLine"></div>

    <div class="card">
        <img src="https://res.cloudinary.com/nsdata/image/upload/v1611011696/ConstrumotorsSAS/pwx0ywmmxtbilrpnpdad.png">

        <div class="content">
            <p class="title">
                Misión
            </p>
            <p>
                Brindar a nuestros clientes apoyo Logistico <br>
                a través de personal calificado en el servicio de <br>
                Obras Civiles, Remodelaciones, Adecuaciones y <br>
                Reparaciones locativas.
            </p>
        </div>

    </div>

    <div class="card">

        <div class="content">
            <p class="title">
                Visión
            </p>
            <p>
                CONSTRUMOTORS S.A.S., trabaja para ser la empresa <br>
                líder en el sector, superando las expectativas de los <br>
                clientes y obteniendo una mayor rentabilidad. 
            </p>
        </div>

        <img src="https://res.cloudinary.com/nsdata/image/upload/v1611021054/ConstrumotorsSAS/qsnvlru11rysunrcbm24.jpg">
    </div>

    <div class="clientTitle">
        <p class="title">Nuestros Clientes</p>
    </div>

    <div class="client">
        <img src="https://res.cloudinary.com/nsdata/image/upload/v1611073816/ConstrumotorsSAS/dz9nidxxxixq5dd62smt.png">
        <img src="https://res.cloudinary.com/nsdata/image/upload/v1611021389/ConstrumotorsSAS/hlcqhtadapu0t2ragibr.png">
    </div>

    <div class="clientTitle">
        <p class="title">Hemos apoyado a</p>
    </div>

    <div class="support">
        <img src="https://res.cloudinary.com/nsdata/image/upload/v1611021389/ConstrumotorsSAS/o9a5js1mambbxvlfgd4x.png">
        <img src="https://res.cloudinary.com/nsdata/image/upload/v1611021389/ConstrumotorsSAS/chari1wdlktvrv8smyqb.png">
        <img src="https://res.cloudinary.com/nsdata/image/upload/v1611021389/ConstrumotorsSAS/hschbe71n8jhzswzfkuk.png">
    </div>

</div>