<app-header></app-header>

<div class="communicateContainer">

    <div class="info">
        <p class="title">
            Comunicate con nosotros
        </p>

        <p>
            Puedes mandarnos tu solicitud <br>
            al correo ConstrumotorsSAS@gmail.com <br>
            o bien, comunicate por telefono o manda un mensaje <br>
            al numero 320 272 3510
        </p>

        <img src="https://res.cloudinary.com/nsdata/image/upload/v1611083285/ConstrumotorsSAS/g6ilcchx2hxy93asty2m.png"> 
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.266773913755!2d-74.11305844987035!3d4.545939044230125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3fa38631f4cdf5%3A0xe7f74e152a07f821!2sConstrumotors%20S.A.S.!5e0!3m2!1ses!2sco!4v1611084252968!5m2!1ses!2sco"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

</div>

<app-footer></app-footer>